<p id="notice"><%= notice %></p>

<p>
  <strong>Response:</strong>
  <%= @suggestion.response %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
